{
  "openapi": "3.1.0",
  "info": {
    "title": "Inrconnect API Reference",
    "description": "Get started with the Inrconnect API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.inrconnect.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/organization": {
      "get": {
        "tags": ["Organization"],
        "summary": "Get organization details",
        "description": "Returns the organization associated with the provided API key.",
        "responses": {
          "200": {
            "description": "Organization details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                },
                "examples": {
                  "example": {
                    "value": {
                      "name": "Acme Corp",
                      "address": "123 Business Street",
                      "phone": "+1-234-567-890",
                      "email": "contact@acme.com",
                      "website": "https://acme.com"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "error": "Unauthorized. API key is missing or invalid."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Organization not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "notFound": {
                    "value": {
                      "error": "Organization not found."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Organization": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "examples": ["Acme Corp"]
          },
          "address": {
            "type": "string",
            "examples": ["123 Business Street"]
          },
          "phone": {
            "type": "string",
            "description": "E.164 or local formatted phone number",
            "examples": ["+1-234-567-890"]
          },
          "email": {
            "type": "string",
            "format": "email",
            "examples": ["contact@acme.com"]
          },
          "website": {
            "type": "string",
            "format": "uri",
            "examples": ["https://acme.com"]
          }
        },
        "required": ["name", "address", "phone", "email", "website"]
      },
      "Error": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message",
            "examples": [
              "Unauthorized. API key is missing or invalid.",
              "Organization not found."
            ]
          }
        },
        "required": ["error"]
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}
